header {
	h1 {
		text-align: center;
		font-size: 80px;
		background: transparent;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		@include breakpoint(m) {
			font-size: 8vw;
			margin: 1vw;
		}
	}
}