
body {
	background-color: map-get($color, background);
	color: map-get($color, text);
	font-family: Tahoma;
	font-size: 18px;
	@include breakpoint(m) {
		font-size: 22px;
	}
	@include breakpoint(s) {
		font-size: 20px;
	}
	line-height: 1.4;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Courier New, Courier, monospace;
}

h5 {
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	margin-bottom: 0;
  font-style: italic;
  font-family: tahoma;
}

a, a:visited {
	color: map-get($color, text);
	text-decoration: none;
	font-weight: 100;
	&:hover {
		color: map-get($color, primary-1)
	}
}

img {
	width: 100%;
}

section {
	margin-bottom: 160px;
}

