// super global
@import './variables';

// global
@import './tags';
@import './classes';

// specific
@import './header';

@mixin aspectRatioCanvasContainer($ratio) {	
	width: 100%;
	padding-top: $ratio * 100%;
	position: relative;
	canvas {
		top: 0;
		width: 100%;
		position: absolute;
	}
}

#boot {
	@include aspectRatioCanvasContainer(.5)
}

#krito {
	@include aspectRatioCanvasContainer(.5)
}

#heizer {
	@include aspectRatioCanvasContainer(.5)
}