// super global
@import './variables';

// global
@import './tags';
@import './classes';

// specific
@import './header';


#boot {
	min-height: 50vw;
	position: relative;
	canvas {
		position: absolute;
	}
}