doctype html
html(lang='de')
	head
		title Krito and the Stoker
		link(
			rel='stylesheet'
			href='/style.css')
	body
		header
			h1.brand Krito and the Stoker
			nav
				ul
					li
						a(href="#about") Wer wir sind
					li
						a(href="#team") Das Team
					li
						a(href="#projects") Projekte
					li
						a(href="#contact") Kontakt
					li
						a(href="#imprint") Impressum
		
		#boot
		.content
			section#about
				include:markdown ../content/about.md

			section#team
				h2 Das Team
				.flex
					.half
						include:markdown ../content/krito.md
					.half
						include:markdown ../content/heizer.md

			section#projects
				h2 Die Projekte
				.flex
					.half
						include:markdown ../content/achtung-kurve.md
					.half
						include:markdown ../content/americas.md

			section#contact
				include:markdown ../content/contact.md
			section#imprint
				include:markdown ../content/imprint.md

		script(src="/bundle.js")