doctype html
html(lang='de')
	head
		title Krito and the Stoker
		link(
			rel='stylesheet'
			href='/style.css')
	body
		h1 Krito and the Stoker
		.content
			include:markdown ../content/about.md

			h2 Das Team
			.flex
				.half
					include:markdown ../content/krito.md
				.half
					include:markdown ../content/heizer.md

			h2 Die Projekte
			.flex
				.half
					include:markdown ../content/achtung-kurve.md
				.half
					include:markdown ../content/colonization.md

			h2 Kontakt
				include:markdown ../content/contact.md

			h2 Impressum
				include:markdown ../content/imprint.md
